n8n/workflows/01_data_ingestion.json
{
  "name": "AutoFlow - 01 Data Ingestion",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "start-ingestion",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "2",
      "name": "Rows From Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 0],
      "parameters": {
        "jsCode": "const payload = $input.first().json || {};\nconst rows = Array.isArray(payload.rows) ? payload.rows : [];\n\nif (!rows.length) {\n  throw new Error('No rows were provided in webhook payload. In local CSV mode, backend must send { rows: [...] }.');\n}\n\nreturn rows.map((row) => ({ json: row }));"
      }
    },
    {
      "id": "3",
      "name": "Code Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 0],
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: {\n    source: 'sheet',\n    external_id: item.json['ID'] || item.json['id'],\n    text: item.json['Feedback'] || item.json['text'],\n    author_id: item.json['User'] || 'anonymous',\n    author_tier: item.json['Tier'] || 'free',\n    collected_at: new Date().toISOString()\n  }\n}));"
      }
    },
    {
      "id": "4",
      "name": "PostgreSQL Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [750, 0],
      "parameters": {
        "operation": "insert",
        "table": "raw_feedback"
      }
    },
    {
      "id": "5",
      "name": "Mark Ingestion Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 0],
      "parameters": {
        "jsCode": "return { json: { success: true, message: 'Data ingestion completed' } };"
      }
    },
    {
      "id": "6",
      "name": "Get New Feedback",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [1200, 0],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, text FROM raw_feedback WHERE cluster_id IS NULL"
      }
    },
    {
      "id": "7",
      "name": "Gemini Cluster Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1400, 0],
      "parameters": {
        "method": "POST",
        "url": "={{$env.BACKEND_BASE_URL || 'http://localhost:3001'}}/api/agents/cluster",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "items",
              "value": "={{$node[\"Get New Feedback\"].json}}"
            }
          ]
        }
      }
    },
    {
      "id": "8",
      "name": "Split Clusters",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [1600, 0],
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": true
        },
        "itemMapping": "data.clusters"
      }
    },
    {
      "id": "9",
      "name": "Save Cluster",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [1800, 0],
      "parameters": {
        "operation": "insert",
        "table": "feedback_clusters",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "topic_label": "={{$node[\"Split Clusters\"].json.topicLabel}}",
            "keywords": "={{$node[\"Split Clusters\"].json.keywords}}",
            "mention_count": "={{$node[\"Split Clusters\"].json.rawFeedbackIds.length}}"
          }
        },
        "options": {
            "returning": "id"
        }
      }
    },
    {
      "id": "10",
      "name": "Update Raw Feedback",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [2000, 0],
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE raw_feedback SET cluster_id = '{{$json.id}}' WHERE id IN ({{$node[\"Split Clusters\"].json.rawFeedbackIds.map(id => \"'\" + id + \"'\").join(',')}})"
      }
    },
    {
      "id": "11",
      "name": "Trigger BRD Gen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2200, 150],
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_BASE_URL || 'http://localhost:5678'}}/webhook/generate-brds"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Rows From Webhook", "type": "main", "index": 0 }]]
    },
    "Rows From Webhook": {
      "main": [[{ "node": "Code Normalize", "type": "main", "index": 0 }]]
    },
    "Code Normalize": {
      "main": [[{ "node": "PostgreSQL Insert", "type": "main", "index": 0 }]]
    },
    "PostgreSQL Insert": {
      "main": [[{ "node": "Mark Ingestion Complete", "type": "main", "index": 0 }]]
    },
    "Mark Ingestion Complete": {
      "main": [[{ "node": "Get New Feedback", "type": "main", "index": 0 }]]
    },
    "Get New Feedback": {
      "main": [[{ "node": "Gemini Cluster Agent", "type": "main", "index": 0 }]]
    },
    "Gemini Cluster Agent": {
      "main": [[{ "node": "Split Clusters", "type": "main", "index": 0 }]]
    },
    "Split Clusters": {
      "main": [
        [{ "node": "Save Cluster", "type": "main", "index": 0 }],
        [{ "node": "Trigger BRD Gen", "type": "main", "index": 0 }]
      ]
    },
    "Save Cluster": {
      "main": [[{ "node": "Update Raw Feedback", "type": "main", "index": 0 }]]
    },
    "Update Raw Feedback": {
      "main": [[{ "node": "Split Clusters", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
