n8n/workflows/01_data_ingestion.json
{
  "name": "AutoFlow - 01 Data Ingestion",
  "nodes": [
    {
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      }
    },
    {
      "id": "2",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [250, 0],
      "parameters": {
        "operation": "getAll",
        "spreadsheetId": "={{$env.SHEET_ID}}",
        "sheetName": "Feedback",
        "options": {}
      }
    },
    {
      "id": "3",
      "name": "Code Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 0],
      "parameters": {
        "jsCode": "return $input.all().map(item => ({\n  json: {\n    source: 'sheet',\n    external_id: item.json['ID'] || item.json['id'],\n    text: item.json['Feedback'] || item.json['text'],\n    author_id: item.json['User'] || 'anonymous',\n    author_tier: item.json['Tier'] || 'free',\n    collected_at: new Date().toISOString()\n  }\n}));"
      }
    },
    {
      "id": "4",
      "name": "PostgreSQL Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [750, 0],
      "parameters": {
        "operation": "insert",
        "table": "raw_feedback"
      }
    },
    {
      "id": "5",
      "name": "HTTP Cluster Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 0],
      "parameters": {
        "method": "POST",
        "url": "http://nlp-service:8001/nlp/cluster",
        "bodyParameters": {
          "parameters": [
            {
              "name": "batch_id",
              "value": "={{$executionId}}"
            }
          ]
        }
      }
    },
    {
      "id": "6",
      "name": "Trigger BRD Gen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 0],
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/generate-brds"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Google Sheets", "type": "main", "index": 0 }]]
    },
    "Google Sheets": {
      "main": [[{ "node": "Code Normalize", "type": "main", "index": 0 }]]
    },
    "Code Normalize": {
      "main": [[{ "node": "PostgreSQL Insert", "type": "main", "index": 0 }]]
    },
    "PostgreSQL Insert": {
      "main": [[{ "node": "HTTP Cluster Request", "type": "main", "index": 0 }]]
    },
    "HTTP Cluster Request": {
      "main": [[{ "node": "Trigger BRD Gen", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
