n8n/workflows/02_brd_generation.json
{
  "name": "AutoFlow - 02 BRD Generation",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 0],
      "parameters": {
        "path": "generate-brds",
        "httpMethod": "POST"
      }
    },
    {
      "id": "2",
      "name": "Get Clusters",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [250, 0],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_clusters WHERE processed = false"
      }
    },
    {
      "id": "3",
      "name": "Loop Clusters",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [500, 0],
      "parameters": {
        "batchSize": 1
      }
    },
    {
      "id": "4",
      "name": "Gemini Analyst",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [750, 0],
      "parameters": {
        "method": "POST",
        "url": "={{$env.BACKEND_BASE_URL || 'http://localhost:3001'}}/api/agents/analyst",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "feedback",
              "value": "={{$json.topic_label}} feedbacks: {{$json.keywords.join(', ')}}"
            }
          ]
        }
      }
    },
    {
      "id": "5",
      "name": "Parse Gemini",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 0],
      "parameters": {
        "jsCode": "return [{ json: $input.first().json.data }];"
      }
    },
    {
      "id": "7",
      "name": "Gemini Critic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1150, 0],
      "parameters": {
        "method": "POST",
        "url": "={{$env.BACKEND_BASE_URL || 'http://localhost:3001'}}/api/agents/critic",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "brd",
              "value": "={{$node[\"Parse Gemini\"].json}}"
            }
          ]
        }
      }
    },
    {
      "id": "6",
      "name": "Save BRD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [1400, 0],
      "parameters": {
        "operation": "insert",
        "table": "brds",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cluster_id": "={{$node[\"Loop Clusters\"].json.id}}",
            "title": "={{$node[\"Parse Gemini\"].json.title}}",
            "problem_statement": "={{$node[\"Parse Gemini\"].json.problemStatement}}",
            "target_audience": "={{$node[\"Parse Gemini\"].json.targetAudience}}",
            "business_value": "={{$node[\"Parse Gemini\"].json.businessValue}}",
            "proposed_solution": "={{$node[\"Parse Gemini\"].json.proposedSolution}}",
            "critic_score": "={{$node[\"Gemini Critic\"].json.data.score}}",
            "critic_issues": "={{JSON.stringify($node[\"Gemini Critic\"].json.data.feedback)}}",
            "status": "pending_review",
            "original_ai_json": "={{JSON.stringify($node[\"Parse Gemini\"].json)}}"
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Get Clusters", "type": "main", "index": 0 }]]
    },
    "Get Clusters": {
      "main": [[{ "node": "Loop Clusters", "type": "main", "index": 0 }]]
    },
    "Loop Clusters": {
      "main": [[{ "node": "Gemini Analyst", "type": "main", "index": 0 }]]
    },
    "Gemini Analyst": {
      "main": [[{ "node": "Parse Gemini", "type": "main", "index": 0 }]]
    },
    "Parse Gemini": {
      "main": [[{ "node": "Gemini Critic", "type": "main", "index": 0 }]]
    },
    "Gemini Critic": {
      "main": [[{ "node": "Save BRD", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
