n8n/workflows/03_epic_generation.json
{
  "name": "AutoFlow - 03 Epic Generation",
  "nodes": [
    {
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 0],
      "parameters": {
        "path": "generate-epics",
        "httpMethod": "POST"
      }
    },
    {
      "id": "2",
      "name": "Gemini Epics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [250, 0],
      "parameters": {
        "method": "POST",
        "url": "={{$env.BACKEND_BASE_URL || 'http://localhost:3001'}}/api/agents/story-writer",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "brd",
              "value": "={{$json}}"
            }
          ]
        }
      }
    },
    {
      "id": "4",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0],
      "parameters": {
        "jsCode": "return $input.first().json.data.userStories.map(s => ({ json: s }));"
      }
    },
    {
      "id": "3",
      "name": "Save Epics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [500, 0],
      "parameters": {
        "operation": "insert",
        "table": "epics"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Gemini Epics", "type": "main", "index": 0 }]]
    },
    "Gemini Epics": {
      "main": [[{ "node": "Save Epics", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
